html {
  scroll-snap-type: y mandatory;
}

.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background);
}

.video_container {
  position: relative;
  height: 80vh;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  background-color: rgb(250, 246, 246);
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.video_container::-webkit-scrollbar {
  display: none;
}


  
.video_play{
    position: relative;
    width: 100%;
    height: 80vh;
}
  
.add{
    color: var(--text-primary);
    position: absolute;
    top: 10%;
    right: 49%;
    z-index: 5;
    background-color: var(--background);
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
}

.add:hover{
    color: var(--background);
    background-color: var(--text-primary);
    transition: 0.5s ease;
}

.video {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.video_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video_text{
    color:var(--text-primary);
    display: flex;
    margin-left: 20px;
}

.footer_buttons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 7%;
    gap: 30px;
}
.flex_box{
    display: flex;  
    align-items: center;
    flex-direction: column;
    color:var(--text-primary);
    gap: 3px;
    
}

.video_text > h3{
    padding:7px 15px;
}

.follow{
    color: var(--text-primary);;
    background-color: var(--background);
    padding:7px 15px;
    transition: 0.5s ease-in;
    cursor: pointer;
    border-radius: 25px;
}

.follow:hover{
    color: var(--text-secondary);
    background-color: var(--text-primary);
    transition: 0.5s ease-out;

}

.hover{
    cursor: pointer;
    transition: 0.5s ease-in;
}

.hover:hover{
    transform: scale(1.25);
    transition: 0.5s ease-out;
}