
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .containerInner {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 40%;
    padding: 20px;
    justify-content: center;
  }
  
  /* Login container styles */
  .loginContainer {
    flex: 1;
    padding: 20px;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 10px 0px;
    color: var(--text-primary);

  }
  
  .subtitle {
    font-size: 1rem;
    margin: 0.5rem 0rem;
    color: var(--text-primary); 
  }

  .error{
    color: white;
    background-color: red;
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .input {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc; /* Border color */
    outline: none;
  }
  
  .loginButton {
    background-color: #002d74; /* Button background color */
    border-radius: 8px;
    color: #fff; /* Button text color */
    padding: 0.75rem 1rem;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .loginButton:hover {
    transform: scale(1.05);
  }
  
  /* Separator styles */
  .separator {
    display: flex;
    align-items: center;
    color: #ccc; /* Separator line color */
    margin: 0.5rem 0px;
  }
  
  .separator hr {
    flex: 1;
    height: 1px;
    border: none;
    background-color: #ccc; /* Separator line color */
  }
  
  .separatorText {
    padding: 0 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
     
  /* Create account section styles */
  .createAccount {
    margin-top: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--text-primary); 
  }
  
  .registerButton {
    background-color: #fff; /* Button background color */
    border: 1px solid #002d74; /* Button border color */
    border-radius: 8px;
    color: #002d74; /* Button text color */
    padding: 0.5rem 1rem;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .registerButton:hover {
    transform: scale(1.05);
  }
  
  /* Image container styles */
  .imageContainer {
    flex: 1;
    display: none; /* Hidden on smaller screens */
  }
  
  .roundedImage {
    border-radius: 20px;
    width: 100%;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    .imageContainer {
      display: block;
      display: flex;

    }
  }
  