.containerflip{
    width: 100%;
    min-height: 100vh;
    perspective: 1000px;
    box-sizing: border-box;
    padding: 2% 5%;
}

.containerflip > h2{
    text-align: center;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.cardflip{
    width: 70%;
    height: 350px;
    border-radius: 5px;
    
}
.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    width: 100%;
    row-gap: 50px;
    margin: 2%;
}
.cardinner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--text-primary);
    align-items: center;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.front >h2{
    font-weight: 400;
}
.front >p{
    color: var(--text-primary);
    font-size: 0.75rem;
    margin: 0;
}
.front >button{
width: 120px;
border: 1px solid var(--text-primary);
background: transparent;
border-radius: 50px;
padding: 8px 20px;
cursor: pointer;
margin: 5%;
color: var(--text-primary);
}
.back{
    background: var(--text-primary);
    color: var(--text-secondary);
    padding: 10px 10px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back >h1{
    font-weight: 15px;
    font-size:large;
    line-height: 20px;
    margin-bottom: 5px;

}
.back h1 span{
    font-weight: 300;
    
}
.back p{
    font-size: 10px;
    font-size: 0.85rem;
}
.back p span{
    font-weight: 600;
}
.back img{
    width: 160px;
}
.row{
    display: flex;
    align-items: center;
    gap: 20px;
}
.col{
    flex: 1;
    text-align: center;
    color: var(--text-secondary);
    font-size: 12px;
    position: relative;
}
.col >h2{
    font-size: 15px;
}

.col >p{
 margin-top: 5px;
}
.back button{
    background: var(--text-secondary);
    color: var(--text-primary);
    border:  0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 10px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(120,0,173,0.3);

}
.back .logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 5px ;
}
.cardflip:hover .cardinner{
    transform: rotateY(180deg);
}
@media (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .cardflip {
        margin: 50px auto 0;
    }
}

/* Responsive CSS for small screens */
@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .cardflip {
        margin: 30px auto 0;
    }
}

/* Responsive CSS for extra small screens */
@media (max-width: 576px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardflip {
        margin: 20px auto 0;
    }
}

.friends{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.online {
    width: 20%;
    background-color: var(--text-secondary);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 5px;
    margin-bottom: 5px;  

  }
  .bgimgs {
    width: 100%;
    overflow: hidden;
  }
  
  .bgimgs img {
    width: 100%;
    aspect-ratio: 4/2;
    object-fit: cover;
  }
  
  .smallimg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: -25%;
    margin-left: 5%;
    
  }
  
  .smallimg img {
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--text-secondary);
  }
  .friendlist > h2{
    text-align: center;
    color: var(--text-primary);
    margin: 40px 0px;
}
  .content{
    color: var(--text-primary);
    padding: 2% 5%;
  }
  .suggestion{
    font-size: smaller;
    color: var(--text-primary);
  }

  .buttongrp{
    display: flex;
    gap: 15px;
  }

  .buttongrp > button{
    background-color: var(--text-primary);
    color: var(--text-secondary);
    padding: 2% 7%;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.5s ease-in;
  cursor: pointer;
  border: 2px solid var(--text-primary);
}

  .buttongrp > button:hover{
    background-color: var(--text-secondary);
    color: var(--text-primary);
    transition: 0.5s ease-out;
}



@media screen and (max-width: 992px) {
    .online{
        width: 26%;
    }
}

@media screen and (max-width: 768px) {
    .online{
        width: 35%;
    }
}

@media screen and (max-width: 576px) {
    .online{
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .friendlist > h2{
        margin: 20px;
    }

    .friends{
        gap: 10px;
    }

    .buttongrp > button{
        padding: 2% 4%;
    }

    .online{
        width: 40%;
    }

    .cardGrid {
        grid-template-columns: repeat(2, 50%);
        row-gap: 20px;
        margin: 1%;
    }

    .cardflip{
        height: 200px;
    }

    .back > img{
        width: 50px;
    }

    .back{
        justify-content:flex-start;
    }

    .row{
        display: none;
    }
}