.PostPage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    overflow-y: auto;
    padding: 2% 2%;
    width: 100%;
    background-color: var(--background);
}

.PostShare{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 75%;
    background-color: var(--background);
    border: 2px solid var(--text-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dummy{
    display: flex;
    justify-content: center;
}

.PostShare > img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;

}

.controls{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.controls > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.controls > div > span{
    color: var(--text-secondary);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--text-primary);
    cursor: pointer;
    padding: 3% 7%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
    transition: 0.2s ease-in;
}

.controls > div > span:hover{
    transform: scale(0.95);
    transition: 0.2s ease-out;
}

.prevImage{
    position: relative;
}

.prevImage > svg{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    color: white;
}

.prevImage > img{
    width: 100%;
    max-height: 20rem;
    border-radius: 0.5rem;
}

/*Stories */
.stories{
    border-radius: 10px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;    padding: 20px;
    display: flex;
    overflow-x: auto;
    min-height: 32vh;
    overflow-y: hidden;
}
.storycard{
    position: relative;
    margin: 5px;
    min-width: 180px;
    overflow: hidden;
    border: 2px solid transparent;
    cursor: pointer;
}

.storycard:hover .storybackground{
    transform: scale(1.2);
    transition: 1s ease-out;
}

.storycard:hover{
    border: 2px solid var(--text-primary);
}

.storycard > svg{
    font-size: 3rem;
    position: absolute;
    bottom: 5%;
    color: var(--text-primary);
    padding-left: 5% ;
}

.storycard > p{
    font-size: 1.35rem;
    position: absolute;
    right: 7%;
    bottom: 0px;
    color: var(--text-primary);
    padding-left: 5% ;
}

.storycard:first-child{
    border: 2px solid var(--text-primary);
    border-radius: 10px;
    width: 160px;
    height: 220px;
}

.storycard:first-child:hover{
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    
}

.storycard:first-child:hover > p, .storycard:first-child:hover > svg {
    color: var(--text-primary);
}


.storyprofile{
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 3px solid var(--text-primary);
    object-fit: cover;
    cursor: pointer;
    z-index: 5;
}

.storybackground{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.text{
    position: absolute;
    width: 100%;
    font-size:20px ;
    font-weight: 500;
    bottom: 10px;
    cursor: pointer;
    color: var(--text-primary);
    bottom: 10px;
    left: 15px;  
}
        

/* Post Popup */

.product_details{
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 50%;left: 50%;transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0,0,0,0.25);
}
.product_details .container{
    width: 30%;
    background: var(--text-secondary);
    border-radius: 10px;
    box-shadow:rgba(0,0,0,0.25) 0px 3px 8px ;
    position: relative;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_details .container .close{
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background: none;
    font-size:25px;
    position: absolute;
    right: 10%;top: 7%;
    cursor: pointer;
    color: var(--text-primary);
}

.product_details .container > img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    aspect-ratio: 4/2;
}

.product_details .container > video{
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.container > h2{
     margin: 0;padding: 10px;
     color: var(--text-primary);
}

.container > input{
    width: 75%;
    border: none;
    outline: none;
    padding: 2%;
    margin: 5%;
    border-radius: 10px;
    color: var(--background);
    font-size: 1.25rem;
}

.container > button{
    padding: 2% 5%;
    background-color: var(--text-primary);
    color: var(--background);
    border: 3px solid var(--background);
    border-radius: 10px;
    cursor: pointer;
}

  /* Responsive styles for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
    .instagramfeed {
        padding: 0.5rem;
    }
  
    .instagramfeed > img {
       border-radius: 0.25rem;
    }
  }
  
  /* Responsive styles for screens between 769px and 1024px (e.g., tablets) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .instagramfeed {
      padding: 1rem;
    }
  }
  
  /* Responsive styles for screens larger than 1024px (e.g., desktops) */
  @media (min-width: 1025px) {
    .instagramfeed {
      padding: 1.5rem;
    }
  
    .instagramfeed > img {
      border-radius: 0.75rem;
    }
  }