.post{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feeds {
    align-items:center;
    display: flex; 
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;   
    border: 3px solid var(--background); 
    max-width: 40%;
    padding: 1% 3%;
  margin: 3% 0%;
  background-color: var(--background);
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.user {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile {
    display: flex;
    align-items: center;
    position: relative; 
    padding: 0.5rem;
    width: 100%;
  }
  
  .profile_info {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .profile_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    margin: 0;
  }

  .header{
    display: flex;
    
  }
  .photo img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  .photo video{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  .interaction_button {
    display: flex;
    align-items:center;
   justify-content: space-between; 
   width: 100%;
  }
  
  .Option{
    padding: 0.2rem 0.5rem;
    display: flex;
    gap: 25%;
  }
  
    .liked_by  {
        display: flex;
        align-items: center;
        padding: 0% 2%;
    }

    .liked_by > p{
      margin-left: 10px;
    }

    .liked_profile{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-left: -0.7rem;
    }
    .hastag{
        color: rgb(0, 153, 255);
    }
    .muted_text{
        color: var(--text-primary);
        font-style: italic;
    }
    .caption p{
        font-style: italic;
        padding-bottom: 10px  ;
        margin: 0 0;
    }

    .editicon , .heart_icon, .comment_icon,.send_icon{
      cursor: pointer;
      transition: 0.5s ease-in;
    }

    .editicon:hover , .heart_icon:hover , .comment_icon:hover ,.send_icon:hover{
      transform: scale(1.25);
      transition: 0.5s ease-out;
    }

    .heart{
      animation: beat 2s linear infinite;
    }

    @keyframes beat {
      0%{
        transform: scale(1);
      }
      50%{
        transform: scale(1.25);
      }
      100%{
        transform: scale(1);
      }
    }

    /* Post Popup */

.product_details{
  height: 100vh;
  width: 100%;
  position:absolute;
  top: 50%;left: 50%;transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0,0,0,0.25);
}
.product_details .container{
  width: 30%;
  background: var(--text-secondary);
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_details .container .close{
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  font-size:25px;
  position: absolute;
  right: 10%;top: 7%;
  cursor: pointer;
  color: var(--text-primary);
}

.product_details .container > img{
  width: 100%;
  height: 70%;
  object-fit: contain;
  aspect-ratio: 4/2;
}

.product_details .container > video{
  width: 100%;
  height: 70%;
  object-fit: contain;
}
    
  
.container > h2{
  margin: 0;padding: 10px;
  color: var(--text-primary);
}

.container > input{
 width: 75%;
 border: none;
 outline: none;
 padding: 2%;
 margin: 5%;
 border-radius: 10px;
 color: var(--background);
 font-size: 1.25rem;
}

.btngrp{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.btngrp > button{
 padding: 2% 5%;
 background-color: var(--text-primary);
 color: var(--background);
 border: 3px solid var(--background);
 cursor: pointer;
 border-radius: 10px;
}