.news{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.news > h1{
    color: var(--text-primary);
}

.radiodiv > p{
    color: var(--text-primary);
}

.api{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 5%;
    width: 100%;
    box-sizing: border-box;
}

.card{
    position:relative;
    width:350px;
    border-radius:0px 10px 10px 0px;
    background: var(--text-primary);
    justify-content: center;
    align-items: center;
    display: flex;
    perspective: 100em;
    margin:2%;
    box-shadow:30px 40px 40px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .cover{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    transform-style: preserve-3d;
    transform-origin: left;
    transition:transform 1s;
    border-radius:0px 10px 10px 0px;
    font-size:30px;
    font-weight: bold;
    
  }
   .card:hover .cover{
    transform:rotateY(-120deg);
  }
  .coverFront, .coverBack{
    position:absolute;
    width:100%;
    height:100%;
    justify-content: center;
    align-items:center;
    display: flex;
  }
  .coverFront{
    background: var(--text-primary);
    text-align: center;
    border-radius: 0px 10px 10px 0px ;
    color:var(--text-secondary);
    overflow: hidden;
  }
  .coverBack{
    border-radius: 10px 0px 0px 10px;
    transform:rotateY(180deg);
    background-color: var(--text-primary);
    backface-visibility: hidden;
  }

  .coverFront > div > h5{
    font-size: 1.10rem;
    padding: 2%;
  }

  .imagediv{
    width: 100%;
    display: flex;
    height: 50%;
    overflow: hidden;
  }
  .sh_img{
    width:100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
  .sh_btn{
    border:0px;
    background: var(--text-secondary);
    border-radius: 5px;
    padding:10px 20px;
    color:var(--text-primary);
    margin:10px;
    transition: 0.5s ease-in;   
  }

  .sh_btn:hover{
    transform: scale(1.10);
    transition: 0.5s ease-in;   
}
  .book{
    padding: 20px;
    text-align: center;
  }

  .book > p, .book > h2{
    color: var(--text-secondary);
  }

  .spangrp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .radio{
    color: var(--text-primary);
    font-size: 1.25rem;
  }