.maindiv{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.maindiv > h1{
  color: var(--text-primary);
}

.card_container {
  display: grid;
  grid-template-columns:repeat(4, 150px);
  grid-gap: 10px;
  padding-bottom: 2%;
}

.card {
  width: 100%;
  height: 100%;
  border: 1.5px solid whitesmoke;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:768px) {
  .card_container {
    grid-template-columns:repeat(4, 125px);
  }
}

@media screen and (max-width:576px) {
  .card_container {
    grid-template-columns:repeat(4, 100px);
  }
}

@media screen and (max-width:450px) {
  .card_container {
    grid-template-columns:repeat(3, 100px);
  }
}