/*pop up */
.product_details{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0,0,0,0.25);
}
.product_details .container{
    height: 40vh;
    background: var(--text-secondary);
    color: var(--text-primary);
    padding: 5%;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product_details .container .close{
    width: 7%;
    height: 7%;
    position: absolute;
    right: 10%;top: 10%;
    cursor: pointer;
}


/*NavLeft*/

.sidebar {
    min-height: 100vh;
    position: sticky;
    width: 25%;
    top: 100px;
    border-right: 2px solid var(--text-primary);
    border-top: 3px solid var(--text-primary);
    background-color: var(--background);
    color: var(--text-primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 20px;

}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    padding: 10px ;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 10px;
}

.sidebarListItem:hover{
    background-color: var(--text-primary);
    color: var(--text-secondary);
    box-shadow: 1px 1px 15px var(--text-primary);
    transition: 0.5s ease;
}

.sidebarListItem:hover > .sidebarListItemText{
    color: var(--background);
    transition: 0.5s ease;
}

.sidebarListItemText{
    color: var(--text-primary);
    font-weight: bold;
}
.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--text-primary);
    background-color: var(--background);
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Nav Top*/
.topnav{
    background-color: var(--background);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: var(--text-primary);
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.searchbar {
    width: 70%;
    height: 30px;
    background-color: var(--text-primary);
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    color: var(--background);
}

.searchInput {
    border: none;
    width: 90%;
    background-color: transparent;
    color: var(--background);
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-primary);
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-primary);
    text-decoration: none;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.dropdownContent{
    background-color: var(--text-secondary);
    color: black;
    position:absolute;
    min-width: 180px;
    margin-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdownItem{
    padding: 10px;
    font-size: smaller;
    display: flex;
    gap: 10px;
}


.dropdownItem > p{
    color: var(--text-primary);
}

.dropdownItem>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.logout{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.logout:hover{
    color: var(--text-secondary);
    transition: 0.5s ease-out;

}

/*Nav Right */

.RightSide{
    width: 20%;
    overflow-y: auto;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--background);
}

.Trendcard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
}
.trend{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.trend>span:nth-of-type(1){
    font-weight: bold;
}

.trend>span:nth-of-type(2){
    font-size: 0.90rem;
}

.Onlinefriend{
    padding: 1rem ;
    color: var(--text-primary);
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

.onlinediv{
    background-color: var(--background);
}

.Friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    .profileimgcontainer{
        margin-right: 10px;
        position: relative;

        .profileimg{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            background-color: blueviolet;
        }
        .Friendonline{
            position: absolute;
            background-color: limegreen;
            width: 25%;
            height: 25%;
            border-radius: 50%;
            top: -3%;
            right: -1%;
            border: 2px solid var(--text-primary);
        }
        
    }
    .Username{
        font-weight: 500;
        color: var(--text-primary);
        font-family: Arial, Helvetica, sans-serif;
      
    }
}

.friendlist{
    margin:0;
    padding: 1rem;
}

/* Toggle Css */

.theme_switch {
    --toggle-size: 10px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme_switch, .theme_switch *, .theme_switch *::before, .theme_switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme_switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme_switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme_switch__checkbox {
    display: none;
  }
  
  .theme_switch__circle_container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme_switch__sun_moon_container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme_switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme_switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme_switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme_switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme_switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme_switch__stars_container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme_switch__checkbox:checked + .theme_switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme_switch__checkbox:checked + .theme_switch__container .theme_switch__circle_container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme_switch__checkbox:checked + .theme_switch__container .theme_switch__circle_container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme_switch__circle_container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme_switch__checkbox:checked + .theme_switch__container .theme_switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme_switch__checkbox:checked + .theme_switch__container .theme_switch__clouds {
    bottom: -4.062em;
  }
  
  .theme_switch__checkbox:checked + .theme_switch__container .theme_switch__stars_container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }